{% extends "DziennikZdarzen/base.html" %}
{% load crispy_forms_tags %}
{% block content %}



<div class="container">
    <div class="row">
        <div>
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-4 col-md-4">
                        <img src="{{ profile.avatar.url }}" alt="" class="img-rounded img-responsive"  width="100%" />
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <h4>
                            {{ profile.username }}</h4>
                        <p>
                            <i class="glyphicon glyphicon-gift"></i>{{ profile.mail }}
                            <p>
                            <i class="glyphicon glyphicon-gift"></i>{{ profile.first_name }} {{ profile.last_name }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}
